.calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  //   border-top: 2px silver solid;
}

.calendar table {
  flex: 1;
  width: 100%;
  border-collapse: collapse;

  table,
  td {
    border: 1px solid rgb(219, 219, 219);
    border-collapse: collapse;
  }
  th {
    h3 {
      text-align: left;
      margin-left: 5px;
    }
  }
}

.table_row {
  width: 100%;
}

.table_row th {
  width: calc(100% / 7);
}

.day_title {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  margin: 20px 0 15px 0;
}

.topNav {
  display: flex;
  margin-bottom: 20px;
  align-content: center;
  height: 74px;
  margin-top: 20px;
  font-size: 28px;
  ion-icon {
    padding: 5px;
    color: rgb(77, 77, 77);
    &:hover {
      cursor: pointer;
      color: #3498db;
    }
  }
}

.monthSelect {
  display: flex;
  align-items: center;
  margin: 0 20px;
  h3 {
    font-weight: 300;
    font-size: 32px;
    margin-top: -2px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  margin: 0 20px;
  margin-left: auto;
  margin-right: 40px;
}

.button_container {
  display: flex;
  justify-content: center;
  padding: 3px 20px;
  width: 150px;
  margin: 0 10px;
  align-items: center;
  h4 {
    font-weight: 300;
    font-size: 20px;
  }
  &:hover {
    cursor: pointer;
    color: #3498db;
    ion-icon {
      cursor: pointer;
      color: #3498db;
    }
  }
}

.divider {
  border-left: 2px solid silver;
  height: 100%;
}
